.front-indicator {
	width: 145px;
	margin: 5px 32px 15px 32px;
	background-color: #f6f6f6;
	color: #adadad;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
}
.wrapper {
	width: 100%;
	text-align: center;
}
.container {
	margin: 0 auto;
	width: 100%;
	text-align: left;
}
.booking-details {
	float: left;
	width: 20%;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;

}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 30px;
	width: 30px;
	line-height: 30px;
	
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;
}
div.seatCharts-row {
	height: 40px;
}
div.seatCharts-seat.available {
	background-color:  #4fe554;
}
div.seatCharts-seat.available.first-class {
		/* 	background: url(vip.png); */
	background-color: #FFD700;
}
div.seatCharts-seat.available.business-class {
		/* 	background: url(vip.png); */
	background-color: #413cee;
}
div.seatCharts-seat.taken {
		/* 	background: url(vip.png); */
	background-color: #71100f;
	pointer-events: none;
}

div.seatCharts-seat.focused {
	background-color: #76B474;
}
div.seatCharts-seat.selected {
	background-color: #E6CAC4;
}
div.seatCharts-seat.unavailable {
	background-color: #472B34;
	pointer-events: none;
}
div.seatCharts-container {
	border-right: 1px dotted #adadad;
	width: 50%;
	padding: 20px;
	float: left;
	margin-left:5%;
}
div.seatCharts-legend {
	padding-left: 5px;
	float: left;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 40px;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}

#selected-seats {
	max-height: 90px;
	overflow-y: scroll;
	overflow-x: none;
	width: 170px;
}