.searchResults {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 1%;
}

td {
	text-align: center;
}

p {
	font-size: small;
	color: gray;
}

.price-text{
	font-size: xx-large;
}

.button-width {
	width: 100%;
}
